<ng-container *ngIf="product">
  <div
    class="relative flex flex-col my-6 bg-white shadow-sm border border-slate-200 rounded-lg w-96"
  >
    <img
      [src]="product.image"
      alt="card-image"
      class="object-contain w-full h-72"
    />

    <div class="p-4">
      <h6 class="mb-2 text-slate-800 text-xl font-semibold">
        {{ product.name }}
      </h6>
      <p class="text-slate-600 leading-normal font-light truncate-description">
        {{ product.description }}
      </p>
    </div>
    <div class="px-4 pb-4 pt-0 mt-2 flex justify-between">
      <button
        class="rounded-md bg-slate-800 py-2 px-4 border border-transparent text-center text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-slate-700 focus:shadow-none active:bg-slate-700 hover:bg-slate-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
        type="button"
        (click)="navigateToProductDetail(product._id)"
      >
        Details
      </button>
      <div>
        <span class="font-bold">
          Price: {{ product.price | currency : "VND" }}
        </span>
      </div>
    </div>
  </div>
</ng-container>
